Repository unicef/inventory, pull requests merged in 2021-11, with the labels that each got.

#79 :mega: :newspaper: announcements: Add call-out to CircleCI Orbs post
  content/announcements/circleci-orbs.en.adoc
Labels: C: content, T: new change

#80 :new: :tm: legal-policy: Add trademark strategy overview (closes #49)
  content/legal-policy/trademark.en.adoc
Labels: C: content, I: help wanted, T: new change

#82 :alembic: :sparkles: ci: Add html-tidy job for publishing clean HTML
  .circleci/config.yml
Labels: T: improvement, C: quality assurance

#78 Add team profiles
  config.toml
  content/cohorts/_index.en.adoc
  content/cohorts/blockchain/_index.en.adoc
  content/cohorts/blockchain/grassroots.en.adoc
  content/cohorts/blockchain/kotani-pay.en.adoc
  content/cohorts/drones/index.en.adoc
  content/cohorts/ds-ai/_index.en.adoc
  content/cohorts/other/_index.en.adoc
  content/cohorts/template.en.adoc
  content/cohorts/vr-ar/_index.en.adoc
  layouts/partials/cohorts.html
  layouts/partials/types.html
  layouts/profiles/list.html
  layouts/profiles/single.html
  layouts/team/list.html
  static/images/sdgs/sdg1.png
  static/images/sdgs/sdg10.png
  static/images/sdgs/sdg11.png
  static/images/sdgs/sdg12.png
  static/images/sdgs/sdg13.png
  static/images/sdgs/sdg14.png
  static/images/sdgs/sdg15.png
  static/images/sdgs/sdg16.png
  static/images/sdgs/sdg17.png
  static/images/sdgs/sdg2.png
  static/images/sdgs/sdg3.png
  static/images/sdgs/sdg4.png
  static/images/sdgs/sdg5.png
  static/images/sdgs/sdg6.png
  static/images/sdgs/sdg7.png
  static/images/sdgs/sdg8.png
  static/images/sdgs/sdg9.png
Labels: C: content, T: new change

#84 :judge: :telescope: legal-policy: Add Creative Commons primer
  content/legal-policy/creative-commons.en.adoc
Labels: C: content, T: new change

#86 :new: :chains: cohorts: Add Leaf Global Fintech (@LeafGlobalFintech)
  content/cohorts/blockchain/leaf-global-fintech.en.adoc
  static/cohorts/logo-leaf-global-fintech.jpg
Labels: C: content, T: new change

#94 :new: :joystick: cohorts: Add ScioXR (@ScioXR)
  content/cohorts/vr-ar/scioxr.en.adoc
  static/cohorts/logo-scioxr.png
Labels: C: content, T: new change

#97 Remove TravisCI from proposed CI platforms - Propose SemaphoreCI
  content/dev-tools/continuous-integration.en.adoc
Labels: C: content, T: improvement
