Repository unicef/inventory, pull requests merged in 2021-09, with the labels that each got.

#65 missions: Add a Project Charter Mission (closes #51)
  content/missions/charters.en.adoc
  content/missions/codes-of-conduct.en.adoc
  content/missions/good-first-issue.en.adoc
Labels: C: content, T: new change

#67 Added front matter to display the download button on pages
  config.toml
  content/communities/fedora.en.adoc
  content/communities/public-lab.en.adoc
  content/data/milestone-roadmap.en.adoc
  content/data/model-card.en.adoc
  content/data/traps.en.adoc
  content/design/reading-list.en.adoc
  content/dev-tools/continuous-integration.en.adoc
  content/documentation/frontier-tech-tips.en.adoc
  content/documentation/hall-of-fame.en.adoc
  content/documentation/reading-list.en.adoc
  content/documentation/text-editors.en.adoc
  content/governance/governance.en.adoc
  content/governance/reading-list.en.adoc
  content/hardware/case-studies.en.adoc
  content/hardware/documentation.en.adoc
  content/hardware/intro.en.adoc
  content/hardware/licensing.en.adoc
  content/hardware/projects.en.adoc
  content/hardware/reading-list.en.adoc
  content/legal-policy/contributor-license-agreement-cla.en.adoc
  content/legal-policy/gpl-comparison.en.adoc
  content/legal-policy/reading-list.en.adoc
  content/meta/create-new-category.en.adoc
  content/meta/maintainers-guide.en.adoc
  content/meta/modules.en.adoc
  content/meta/needs-assessment-template.en.adoc
  content/meta/overview.en.adoc
  content/meta/templates.en.adoc
  content/meta/workflow-metrics.en.adoc
  content/meta/workplan-bridge-funding.en.adoc
  content/missions/codes-of-conduct.en.adoc
  content/missions/good-first-issue.en.adoc
  content/project-management/issue-templates.en.adoc
  content/project-management/project-boards.en.adoc
  content/project-management/reading-list.en.adoc
  content/reproducibility/reading-list.en.adoc
  content/sustainability/approaches.en.adoc
Labels: C: content, T: improvement

#66 Added news items for announcements
  config.toml
  content/announcements/_index.en.adoc
  content/announcements/charter-published.en.adoc
Labels: T: new change

#69 design: Add Ushahidi Open Design (closes #3)
  content/design/reading-list.en.adoc
Labels: C: content, T: improvement

#70 meta: Create new Mentorship sub-section
  content/meta/mentorship/_index.en.adoc
  content/meta/mentorship/modules.en.adoc
  content/meta/mentorship/needs-assessment-template.en.adoc
  content/meta/mentorship/overview.en.adoc
  content/meta/mentorship/templates.en.adoc
  content/meta/mentorship/workplan-bridge-funding.en.adoc
Labels: C: content, T: improvement

#71 meta: Create new Inventory sub-section
  content/meta/inventory/_index.en.adoc
  content/meta/inventory/create-new-category.en.adoc
  content/meta/inventory/create-new-mission.en.adoc
  content/meta/inventory/maintainers-guide.en.adoc
Labels: C: content, T: improvement

#72 meta: Add On-boarding guide (closes #36)
  content/meta/mentorship/onboarding.en.adoc
Labels: C: content, T: new change
