Repository unicef/inventory, pull requests merged in 2021-12, with the labels that each got.

#102 :recycle: :weight_lifting: content: Remove weight front matter
  content/cohorts/blockchain/grassroots.en.adoc
  content/cohorts/blockchain/kotani-pay.en.adoc
  content/cohorts/blockchain/leaf-global-fintech.en.adoc
  content/cohorts/vr-ar/scioxr.en.adoc
  content/communities/fedora.en.adoc
  content/communities/public-lab.en.adoc
  content/data/milestone-roadmap.en.adoc
  content/data/model-card.en.adoc
  content/data/traps.en.adoc
  content/design/reading-list.en.adoc
  content/dev-tools/continuous-integration.en.adoc
  content/documentation/frontier-tech-tips.en.adoc
  content/documentation/hall-of-fame.en.adoc
  content/documentation/reading-list.en.adoc
  content/documentation/text-editors.en.adoc
  content/governance/governance.en.adoc
  content/governance/reading-list.en.adoc
  content/hardware/case-studies.en.adoc
  content/hardware/documentation.en.adoc
  content/hardware/licensing.en.adoc
  content/hardware/projects.en.adoc
  content/hardware/reading-list.en.adoc
  content/legal-policy/contributor-license-agreement-cla.en.adoc
  content/legal-policy/creative-commons.en.adoc
  content/legal-policy/gpl-comparison.en.adoc
  content/legal-policy/reading-list.en.adoc
  content/legal-policy/trademark.en.adoc
  content/meta/inventory/create-new-category.en.adoc
  content/meta/inventory/create-new-mission.en.adoc
  content/meta/inventory/maintainers-guide.en.adoc
  content/meta/mentorship/modules.en.adoc
  content/meta/mentorship/needs-assessment-template.en.adoc
  content/meta/mentorship/onboarding.en.adoc
  content/meta/mentorship/templates.en.adoc
  content/meta/mentorship/workplan-bridge-funding.en.adoc
  content/meta/workflow-metrics.en.adoc
  content/missions/_template.en.adoc
  content/missions/charters.en.adoc
  content/missions/codes-of-conduct.en.adoc
  content/missions/good-first-issue.en.adoc
  content/project-management/issue-templates.en.adoc
  content/project-management/project-boards.en.adoc
  content/project-management/reading-list.en.adoc
  content/reproducibility/reading-list.en.adoc
  content/sustainability/approaches.en.adoc
Labels: C: content, T: improvement

#104 Adjust spacing around the main content
  layouts/partials/cohorts.html
  layouts/partials/types.html
Labels: T: bug, ?: blocked

#89 :new: :chains: cohorts: Add Treejer (@treejer)
  content/cohorts/blockchain/treejer.en.adoc
  static/cohorts/blockchain/treejer/1-my-forest.jpg
  static/cohorts/blockchain/treejer/2-tree-of-life.jpg
  static/cohorts/blockchain/treejer/3-ranger-app.jpg
  static/cohorts/logo-treejer.png
Labels: C: content, T: new change

#106 :lock: config: Add `^asciidoctor$` to new security configuration
  config.toml
Labels: T: bug

#107 :new: :memo: data: Add "Policy guidance on AI for children" report
  content/data/policy-guidance-children.en.adoc
Labels: C: content, T: new change

#109 :memo: :boom: Remove "Design" category in favor of SustainOSS Design
  config.toml
  content/design/_index.en.adoc
  content/design/reading-list.en.adoc
Labels: C: content, T: new change

#88 :new: :chains: cohorts: Add Rumsan/Rahat (@esatya)
  content/cohorts/blockchain/rumsan.en.adoc
  static/cohorts/logo-rumsan.png
Labels: C: content, T: new change
