Repository unicef/inventory, pull requests merged in 2022-03, with the labels that each got.

#122 :memo: :chains: cohorts: Update Xcapit SDGs and community URL
  content/cohorts/blockchain/xcapit.en.adoc
Labels: C: content, T: improvement

#123 Rename dir 'other' to 'others' to fix 404 error when navigating to it
  content/cohorts/others/_index.en.adoc
Labels: T: bug

#125 Add new stakeholder mapping exercise
  .github/CONTRIBUTING.md
  content/documentation/stakeholder-mapping.en.adoc
Labels: C: content, T: new change
