Repository unicef/inventory, pull requests merged in 2022-08, with the labels that each got.

#137 :memo: cohorts: Add Facebook and Instagram to OTTAA Project profile
  content/cohorts/ds-ai/ottaa-project.en.adoc
Labels: C: content, T: improvement

#140 Moved faq to the end in navbar
  config.toml
Labels: T: improvement

#93 :new: :robot: cohorts: Add I-STEM (@I-Stem)
  content/cohorts/ds-ai/i-stem.en.adoc
  static/cohorts/logo-istem.png
Labels: C: content, T: new change

#138 :camera_flash: static: Use a more thematic banner image on home page
  static/images/banner.jpg
Labels: C: content, T: improvement
