Repository unicef/inventory, pull requests merged in 2022-01, with the labels that each got.

#112 :memo: :boom: meta: Hide sub-categories from index page
  content/meta/inventory/_index.en.adoc
  content/meta/mentorship/_index.en.adoc
Labels: T: bug

#114 :memo: :arrow_up: Code of Conduct: Upgrade to CC v2.1, update contact
  .github/CODE_OF_CONDUCT.adoc
Labels: T: improvement, I: contributor experience

#95 :new: :joystick: cohorts: Add VRapeutic (@VRapeutic)
  content/cohorts/vr-ar/vrapeutic.en.adoc
  static/cohorts/logo-vrapeutic.png
Labels: C: content, T: new change

#87 :new: :chains: cohorts: Add Kotani Pay (@KotaniLabs)
  content/cohorts/blockchain/kotani-pay.en.adoc
  static/cohorts/logo-kotani-pay.png
Labels: C: content, T: new change

#117 Fix buttons in th cohort types page
  layouts/partials/types.html
Labels: T: bug

#118 :speech_balloon: :link: cohorts: Add Discord link for Rumsan/Rahat
  content/cohorts/blockchain/rumsan.en.adoc
Labels: C: content, T: improvement
